@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: black;
}

.gradient-wrapper {
  background: linear-gradient(90deg, rgba(185,248,225,1) 0%, rgba(232,240,214,1) 35%, rgba(123,163,248,1) 100%);
  border-radius: 1.25rem;
  font-size: 1.5rem;
}