@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #181818;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0 !important;
}
